<template>
    <div class="rounded overflow-hidden shadow-lg">
        <img class="w-full" :src="'https://epood.ta19heinsoo.itmajakas.ee/' + image" alt="">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">{{ title }}</div>
            <p class="text-gray-700 text-base">
                {{ description }}
            </p>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#{{
                        category
                }}</span>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span
                class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">Price:
                {{ price }}</span>
            <input type="number" v-model="form.qty"/>
            <button @click=" form.post(route('add.cart'), {onSuccess: () => form.qty = 1})"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add to cart</button>
        </div>
    </div>
</template>
<script setup>
import { Head, useForm } from "@inertiajs/inertia-vue3";
import axios from 'axios'
import { inject, ref } from "vue";

const route = inject("route");

const props = defineProps(["image", "title", "description", "category", "price", "data"])

const form = useForm({
    id: props.data.id,
    image: props.data.image,
    title: props.data.title,
    description: props.data.description,
    price: props.data.price,
    qty: 1
})

</script>
